
.img1{
    width: 100%;
    height: 200px;
}
.login{
    align-content: center;
}
.pad{
    margin-top: 30px;
    padding: 50px 10px 10px 10px;
}
.pad1{
    margin-top: px;
    padding: 10px 10px 10px 10px;
}
.vote1{
    background-color: aqua;
}
.vote2{
    background-color:rgb(46, 163, 46);
    padding: 10px;
}
.div1{
    padding: 20px 10px 15px 25px;
}
.div2{
    padding-top: 30px;
}
#fia>div {
    display: inline-block;
}

#fia>label {
    display: inline;
}
.padtop{
    padding-top: 100px;

}
